@font-face {
  font-family: 'Eina01';
  src: url(/fonts/Eina01-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Eina01';
  src: url(/fonts/Eina01-Regular.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Eina01';
  src: url(/fonts/Eina01-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Eina03';
  src: url(/fonts/Eina03-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url(/fonts/sofiapro-light.otf);
  font-weight: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Eina01";
}

.landing {
  height: 100vh;
}

.landing .container {
  width: 39vw;
  margin: 0 auto;
}

.landing .container h1 {
  color: #F68360;
  font-size: 6.7rem;
  text-align: center;
}

.landing .container p {
  color: #4f4f4f;
  font-size: 2.8rem;
  text-align: center;
}

.join {
  height: 100vh;
  background-image: url(/images/section2background.png);
  background-size: 100% 50%;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.join .container {
  width: 60vw;
  margin-top: 8vw;
}

.join .container_plan {
  width: 100%;
  padding: 2vw 3.5vw 2.5vw 3.5vw;
  background-color: #ffffff;
  border-radius: .5rem;
  margin-bottom: 3rem;
}

.join .container_plan .heading {
  color: #333333;
  font-size: 4.8rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

.join .container_plan .text {
  color: #4f4f4f;
  padding: 0;
  font-size: 2.8rem;
  text-align: center;
}

.join .container_pricing {
  width: 100%;
  padding: 2vw;
  background-color: #F68360;
  border-radius: .5rem;
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join .container_pricing .price {
  font-size: 4rem;
  font-weight: 600;
}

.join .container_pricing .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.join .container_pricing .details .head {
  font-size: 3.6rem;
  text-align: right;
}

.join .container_pricing .details .text {
  font-size: 2.4rem;
}

.join .container .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 1rem 4rem;
  background-color: #F68360;
  border: none;
  border-radius: .5rem;
  color: #ffffff;
  font-size: 2rem;
}

.join .container .btn:hover {
  cursor: pointer;
}

.connection {
  width: 100%;
}

.connection .container {
  width: 100%;
  height: 80vh;
  padding-top: 10vh;
}

.connection .container .text_box {
  width: 41vw;
  margin: 0 auto;
  margin-bottom: 30rem;
}

.connection .container .text_box .heading {
  font-family: "Eina03";
  font-size: 2.8rem;
  text-align: center;
  font-weight: 600;
  color: #333333;
  margin-bottom: 2.5rem;
}

.connection .container .text_box .text {
  font-family: "Sofia Pro";
  color: #4f4f4f;
  text-align: center;
  font-size: 1.8rem;
  line-height: 30px;
}

.connection .container .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.connection .container .grid__column {
  width: 16.5%;
}

.connection .container .grid__column:not(:last-child) {
  margin-right: 2em;
}

.connection .container .grid__column-2 {
  margin-top: 5em;
}

.connection .container .grid__column-3 {
  margin-top: 9em;
}

.connection .container .grid__column-4 {
  margin-top: 7em;
}

.connection .container .grid__column-5 {
  margin-top: 2em;
}

.connection .container .grid__column-7 {
  margin-top: 1em;
}

.connection .container .grid__column .image:not(:last-child) {
  margin-bottom: 2em;
}

.connection .container .grid__column .image img {
  width: 100%;
}

.connection .container .grid__column-small {
  width: 8.75% !important;
}
/*# sourceMappingURL=styles.css.map */